altgraph==0.17.5
asgiref==3.11.1
distlib==0.4.0
dj-database-url==3.1.2
Django==6.0.4
et_xmlfile==2.0.0
filelock==3.29.0
gunicorn==25.3.0
openpyxl==3.1.5
packaging==26.2
pefile==2024.8.26
platformdirs==4.9.6
psycopg2-binary==2.9.12
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
python-discovery==1.2.2
pywin32==311
pywin32-ctypes==0.2.3
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.1
virtualenv==21.2.4
waitress==3.0.2
whitenoise==6.12.0
